/* src/styles/styles.css */

/* Allgemeine Stile (기본 스타일) */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Titel 스타일 */
h1, h2, h3 {
  text-align: center; /* 모든 제목 중앙 정렬 */
  margin: 0;
  padding: 20px 0;
}

h1 {
  border-bottom: solid 1px rgb(219, 215, 215);
}

h2 {
  font-size: 1.8rem;
  color: #333;
}

h3 {
  font-size: 1.5rem;
  color: #333;
}

/* Liste 스타일 */
ul {
  width: auto;
  margin: 0 auto;
  padding: 15px;
  max-width: 90%; /* 가로 여백이 여유롭게 보이도록 조정 */
  list-style-position: inside;
}

li {
  padding: 5px 0;
}

/* Grid layout (그리드 레이아웃) */
#grid {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
  padding: 20px;
}

/* Hover-Effekt (호버 효과) */
.menu-card:hover {
  background-color: #f0f0f0; /* 호버 시 배경색 변경 */
}

/* 검색창 스타일 */
#searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

#searchInput {
  width: 300px;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ddd;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
}

#searchInput:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 아이콘 스타일 */
.icon {
  margin-right: 8px;
  color: #888;
  font-size: 20px;
}

/* 버튼 스타일 */
.button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #45a049;
}

/* 반응형 디자인 */
@media (max-width: 800px) {
  #grid {
    grid-template-columns: 1fr;
  }
}
